<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>🤠🤖</key>
	<string>High Noon Havoc</string>
	<key>☢️🤢</key>
	<string>Plague Inc</string>
	<key>🍎🍞🍔</key>
	<string>Cooking Mama</string>
	<key>💣😄</key>
	<string>Bomberman</string>
	<key>📱⚡️💥🚫⚡️</key>
	<string>Watch Dogs</string>
</dict>
</plist>
