<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>🤓🥧</key>
	<string>Revenge of the Nerds</string>
	<key>🤡🔪🦇</key>
	<string>The Joker</string>
	<key>🚢❤️⚡️🥶💔</key>
	<string>Titanic</string>
	<key>🤜💦😝 - 😁🤜😁 - 💣💣💣</key>
	<string>Fight Club</string>
	<key>👨🏻‍💻🌎☣️</key>
	<string>Wargames</string>
</dict>
</plist>
